.gantt{
  display: flex;
  flex-direction: column;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAABlBMVEXl5eX////ixexJAAAAFUlEQVQoz2NgxA4YGEYlRiUIS+ACAIk/AhIVOVcSAAAAAElFTkSuQmCC');
  background-repeat: repeat;
  background-position: left top;
  box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;
}

.row{
  display: flex;
  flex-direction: row;
  height: 24px;
  box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;
  position:relative;
}

.entry{
  position:absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  overflow: hidden;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  color: #414B57 !important;
  text-align: center;
  font-size: 11px;
}
.ganttRed, .ganttGreen, .ganttOrange, .ganttBlue{
  min-width: 24px;
  border-radius: 8px;
  box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;
}

.ganttRed {
  background-color: #F9C4E1;
  color: #78436D !important;
}

.ganttGreen {
  background-color: #D8EDA3;
  color: #778461 !important;
}

.ganttOrange {
  background-color: #FCD29A;
  color: #714715 !important;
}

.ganttBlue{
  background-color: #D0E4FD;
}


.year, .week, .month, .day, .box{
  vertical-align: middle;
  text-align: center;
  height: 24px;
  vertical-align: middle;
  border-radius: 0px;
  background-color: #F4F4F4;
  margin: 0;
  box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;
}

.box{
  min-width: 24px;
}

